section.movies {
  padding: 100px 0;
}
.movies .section-body {
  margin-top: 30px;
}
.search-wrapper {
  width: 500px;
  height: 50px;
  border: 2px solid white;
  border-radius: 10px;
  gap: 0;
}
.search-wrapper input {
  width: calc(100% - 60px);
  height: 100%;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  background: inherit;
  padding: 4px 10px;
  font-size: 17px;
}
.search-wrapper button {
  width: 60px;
  height: 100%;
  padding: 0;
  border-radius: 0 8px 8px 0;
}
.search-wrapper svg {
  font-size: 25px;
}
.movies .ant-card-body {
  width: 100%;
  padding: 0 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgba(8, 10, 26, 0.7);
  z-index: 3;
  color: white;
  display: flex;
  align-items: center;
}
.movies .ant-card-cover {
  width: 100%;
  height: 100%;
}
.movies .ant-card {
  border: 2px solid grey;
  overflow: hidden;
  position: relative;
  transition: 0.3s linear all;
}
.movies .ant-card:hover {
  transform: scale(0.96);
}
.movies h3 {
  width: calc(100% - 46px);
  font-size: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}
.movies .card-body {
  width: 100%;
}
.movies .card-body button {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.movies .card-body button:hover {
  background: transparent;
  border: 2px solid #e50813;
}
.movies .card-body svg {
  font-size: 20px;
  font-weight: 700;
}
/* responsive  */
@media (max-width: 1200px) {
  .search-wrapper {
    width: 400px;
    height: 40px;
  }
}
@media (max-width: 992px) {
  section.movies {
    padding: 70px 0;
  }
}
@media (max-width: 768px) {
  section.movies h1 {
    font-size: 20px;
  }
  .search-wrapper {
    width: 250px;
    height: 40px;
  }
  .search-wrapper input {
    width: calc(100% - 30px);
  }
  .search-wrapper button {
    width: 30px;
  }
  .search-wrapper svg {
    font-size: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .movies .section-header {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .search-wrapper {
    width: 100%;
  }
}
